.footer {
  background-color: $c-black;
  color: $c-white;
  padding: VW(40) VW(30) VW(100);

  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-template-rows: repeat(2, auto);
  row-gap: VW(40);

  @include forTablet {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    row-gap: VW(70, $tablet);
  }

  @include forMobile {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    row-gap: VW(80, $mobile);
    padding: VW(20, $mobile) VW(10, $mobile) VW(40, $mobile) VW(10, $mobile);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: VW(20);

    @include forTablet {
      gap: VW(20, $tablet);
    }

    @include forMobile {
      gap: VW(15, $mobile);
    }

    &__item {
      transition: color 0.3s ease-in-out;

      @include hover {
        color: var(--color);
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    gap: VW(40);

    @include forTablet {
      grid-column: 1/3;
      grid-row: 2;

      flex-direction: row;
      gap: VW(130, $tablet);
    }

    @include forMobile {
      grid-column: 1/3;
      grid-row: 2;
      gap: VW(40, $mobile);
    }

    .socials {
      display: flex;
      gap: VW(20);
      flex-wrap: wrap;

      @include forDesktop {
        width: VW(260);
      }

      @include forTablet {
        gap: VW(20, $tablet);
        width: VW(300, $tablet);
      }

      @include forMobile {
        gap: VW(15, $mobile);
        width: VW(260, $mobile);
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: VW(44);
        height: VW(44);
        // padding: VW(2);
        border-radius: 50%;
        border: VW(1) solid $c-white;
        transition: background-color 0.3s ease-in-out;

        @include forTablet {
          width: VW(50, $tablet);
          height: VW(50, $tablet);
        }

        @include forMobile {
          width: VW(40, $mobile);
          height: VW(40, $mobile);
        }

        img {
          width: 100%;
          height: 100%;
          filter: invert(1);
          transition: filter 0.3s ease-in-out;
        }

        @include hover {
          background-color: $c-white;
          img {
            filter: invert(0);
          }
        }
      }
    }
  }

  &__copyright {
    grid-row: 2/2;

    @include forTablet {
      grid-row: 3;
    }

    @include forMobile {
      grid-row: 4;
    }

    &-link {
      grid-row: 2/2;
      transition: color 0.3s ease-in-out;

      @include forTablet {
        grid-row: 3;
        grid-column: 2/2;
        width: fit-content;
      }

      @include hover {
        color: $c-white;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      gap: VW(20);
      justify-content: center;

      @include forTablet {
        grid-row: 3;
        justify-content: flex-start;
        gap: VW(20, $tablet);
      }

      @include forMobile {
        grid-row: 4;
        gap: VW(15, $mobile);
      }
    }
  }
}
