  @import "./utils/typography";
  @import "./utils/mixins";
  @import "./utils/variables";
  @import "./utils/responsive-data";

.body {
  background-color: $c-white;
  color: $c-black;
  overflow-x: hidden;
  opacity: 1;
  ::selection {
    color: $c-white;
    background: $red-100;
    mix-blend-mode: difference;
  }
}

// #region Scrollbar

.html {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  
  &::-moz-scrollbar {
    display: none; /* Firefox до версії 64 */
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    -ms-overflow-style: none;
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    overflow: -ms-autohiding-scrollbar;
  }
}
// #endregion Scrollbar

.container {
  padding-right: VW(30);
  padding-left: VW(30);

  @include forTablet {
    padding-right: VW(20, $tablet);
    padding-left: VW(20, $tablet);
  }
  @include forMobile {
    padding-right: VW(10, $mobile);
    padding-left: VW(10, $mobile);
  }
}

.shadow {
  color: $g-70;
}

.main {
  &--loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}