@import "./utils/typography";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/responsive-data";

.body {
  background-color: $c-white;
  color: $c-black;
  overflow-x: hidden;
  opacity: 1;
  ::selection {
    color: $c-white;
    background: $red-100;
    mix-blend-mode: difference;
  }

  &::-webkit-scrollbar {
    width: VW(6);
  }

  &::-webkit-scrollbar-track {
    background: $g-20;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: $g-70;
    border-radius: 0px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .body {
      scrollbar-color: $g-70 $g-20;
    }
  }
}

.container {
  padding-right: VW(30);
  padding-left: VW(30);

  @include forTablet {
    padding-right: VW(20, $tablet);
    padding-left: VW(20, $tablet);
  }
  @include forMobile {
    padding-right: VW(10, $mobile);
    padding-left: VW(10, $mobile);
  }
}

.shadow {
  color: $g-70;
}

.main {
  &--loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.category {
  padding: VW(18);
  border-radius: VW(5);
  background: $g-20;
  width: fit-content;
  height: fit-content;

  @include forTablet {
    padding: VW(20, $tablet);
  }
  @include forMobile {
    padding: VW(10, $mobile);
    border-radius: VW(3, $mobile);
  }
}

.lazyload-wrapper,
.content-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  img,
  video {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .lazyload-placeholder {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: $g-70;
  }
}
