.header {
  align-items: center;
  background-color: #8e8e8e2d;
  backdrop-filter: blur(2vw);
  display: flex;
  flex-direction: row;
  height: 3vw;
  justify-content: space-between;
  z-index: 10;
  padding: 0 6.5vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include mq() {
    height: 14vw;
    justify-content: space-between;
    padding: 0 6.3vw;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1.8vw;
    height: 100%;

    @include mq() {
      display: none;
    }
  }

  &__logo {
    height: 70%;
    position: relative;
    z-index: 100;


    @include mq() {
      width: 14.7vw;
      height: 13.5vw;
    }
  }

  &__list_links {
    display: flex;
    align-items: center;
    gap: 0.5vw;

    @include mq() {
      display: none;
    }
  }

  &__link {
    font-size: 1.2vw;
    padding: 0.5vw 0.7vw;
    position: relative;
    z-index: 1;
    
    & > span {
      position: relative;
      z-index: 1;  
    }
  }

  &__nav {
    @include mq($tablet + 1, ">") {
      display: none;
    }
  }
}
