@import "./variables";

@mixin mq($size: $tablet, $type: '<', $size-next: null) {
  @if ($type == '<') {
    @media (max-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == '>') {
    @media (min-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == '<>') {
    @media screen and (min-width: #{$size}px) and (max-width: #{$size-next}px) {
      @content;
    }
  }
}

@mixin forMobile() {
  @media screen and (max-aspect-ratio: 2/3) {
    @content;
  }
}

@mixin forTablet() {
  @media screen and (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/3) {
    @content;
  }
}

@mixin forPortraitTablet() {
  @media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 15/9) {
    @content;
  }
}

@mixin forDesktop() {
  @media screen and (min-aspect-ratio: 15/9) {
    @content;
  }
}

@function VW($px, $base: 1920) {
  @return calc(($px / $base) * 100vw);
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
