@import "./mixins";

[data-hidden] {
  opacity: 0;
}

[data-only-desktop] {
  display: none;

  @include forDesktop() {
    display: block;
  }
}

[data-only-desktop--flex] {
  display: none;

  @include forDesktop() {
    display: flex;
  }
}

[data-not-desktop] {
  display: block;

  @include forDesktop() {
    display: none;
  }
}

[data-not-desktop--flex] {
  display: flex;

  @include forDesktop() {
    display: none;
  }
}

[data-hide-for-mobile] {
  display: block;

  @include forMobile() {
    display: none;
  }
}

[data-only-mobile] {
  display: none;

  @include forMobile() {
    display: block;
  }
}

[data-touch-element] {
  display: block;

  @include forDesktop {
    display: none;
  }

  @include forPortraitTablet {
    display: none;
  }

  @media (hover: none) and (min-aspect-ratio: 2/3) {
    display: block !important;
  }
}

[data-touch-element--flex] {
  display: flex;

  @include forDesktop {
    display: none;
  }

  @include forPortraitTablet {
    display: none;
  }

  @media (hover: none) and (min-aspect-ratio: 2/3) {
    display: flex !important;
  }
}

[data-desktop-element] {
  @media (hover: none) {
    display: none !important;
  }

  @include forMobile {
    display: none;
  }

  @include forTablet {
    display: none;
  }

  @include forDesktop {
    display: block;
  }

  @include forPortraitTablet {
    display: block;
  }
}
