@import "./mixins";

%h1 {
  font-family: var(--font-twid-grotesk), sans-serif;
  font-size: VW(48);
  font-style: normal;
  line-height: 108%;
  letter-spacing: normal;
  font-weight: 400;

  @include forTablet {
    font-size: VW(40, $tablet);
  }

  @include forMobile {
    font-size: VW(24, $mobile);
  }
}

.super-text {
  font-family: var(--font-twid-grotesk), sans-serif;
  font-size: VW(200);
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 400;

  @include forTablet {
    font-size: VW(86, $tablet);
  }

  @include forMobile {
    font-size: VW(47, $mobile);
  }
}

%h2 {
  font-family: var(--font-arial-mt), sans-serif;
  font-size: VW(32);
  font-style: normal;
  font-weight: normal;
  line-height: 108%;
  letter-spacing: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include forTablet {
    font-size: VW(20, $tablet);
  }

  @include forMobile {
    font-size: VW(13, $mobile);
  }
}

%body-text {
  font-family: var(--font-arial-mt), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.01vw;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include forTablet {
    font-size: VW(20, $tablet);
  }

  @include forMobile {
    font-size: VW(13, $mobile);
    line-height: 120%;
  }
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }
}
