@import "./mixins";

%h1 {
  font-family: var(--font-neue-haas-display), sans-serif;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: bold;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include mq() {
    font-size: 9.4vw;
  }
}

.super-text {
  font-family: var(--font-neue-haas-display), sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include mq() {
    font-size: 11vw;
  }
}

%h2 {
  font-family: var(--font-neue-haas-display), sans-serif;
  font-size: 2vw;
  font-style: bold;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;

  @include mq() {
    font-size: 6.4vw;
  }
}

%body-text {
  font-family: var(--font-neue-haas-display), sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.01vw;
  
  @include mq() {
    letter-spacing: -0.4vw;
    font-size: 4.7vw;
  }
}

.small-text {
  font-family: var(--font-neue-haas-display), sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.03vw;
}

%link {
  @extend %body-text;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;


h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

a {
  @extend %link;
}
}